extends _layouts/base

include _modules/link/link
include _modules/molecules/card/card
block content
  .container
    .row.yeogurt-info
      .page-header
        h1 Are you anonymous?
      +card({title: "Your Browser", info: "info-browser"})
      +card({title: "Browser Version", info: "info-browser-ver"})
      +card({title: "Your Operating System", info: "info-OS"})
      +card({title: "Your IP", info: "info-ip"})
      +card({title: "Your Country", info: "info-location-country"})
      +card({title: "Your City", info: "info-location-city"})
      +card({title: "Your Latitude", info: "info-location-lat"})
      +card({title: "Your Longitude", info: "info-location-long"})
      
    footer.footer 
      .footer-disclaimer All information on this page is meant to be experimental and is may not be accurate.  I built this using javascript and jquery to find what browsers can do to track user data and this is only touching the tip of the iceberg.
      .footer-disclaimer Nothing is stored or tracked by me and is merely a static test site.  Please do not use this data to harm others.  For questions and concern please google them.  In fact, if you're truly concered about data privacy, you should look into Duck Duck Go or startpage.
